<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    
    <div class="wrapper">
        <h1><%= greeting %></h1>
        <br>
        <h2>&#169; Muxy 2020</h2>
    </div>
</body>
</html>