<%- include('includes/head.ejs') %>
</head>

<body>
	<%- include('includes/navbar-add.ejs') %>

	<div class="wrapper">
		<h1><%= greeting %></h1>

		<form action="/add" method="POST">
			<label for="title">A film címe:</label>
			<input class="input-add-title" type="text" name="title" required size="40">

			<label for="titleEng">A film eredeti címe:</label>
			<input class="input-add-titleOrig" type="text" name="titleEng" required size="40">

			<div class="input-add-yeartmdb">
				<div>
					<label for="year">A bemutatás éve:</label>
					<input class="input-add-year" type="text" name="year" required size="5">
				</div>
				<div>
					<label for="tmdbid">TMDB id:</label>
					<input class="input-add-tmdbid" type="text" name="tmdbid" size="8">
				</div>
			</div>
			
			<label for="status">Válassz kategóriát:</label>

			<div class="submit-buttons">
				<select name="status">
					<option value="wanted">Kell</option>
					<option value="downloaded">Letöltve</option>
					<option value="seen">Megnézve</option>
				</select>

				<div class="add-edit-buttons">
					<input type="submit" value="Hozzáadom" class="btn-add-movie">
					<button class="btn-add-movie"><a href="/">Mégse</a></button>
				</div>
			</div>
		</form>
	</div>

	<div class="tmdb-wrapper">
		<div class="tmdb-spinner">
			<img src="spinner.gif" alt="spinner">
		</div>
		
		<div class="search-popup">
				
		</div>
			
		<!-- TMDB info popup upon search popup - same as tmdb-popup on movie list page -->
		<div class="tmdb-popup">
			<div class="tmdb-first-row">
				<div class="tmdb-ty"><span class="tmdb-title">title</span><span class="tmdb-year">(year)</span></div>
			</div>
			
			<div class="tmdb-titleOrig">original title</div>
			<div class="tmdb-tg">
				<p><span class="tmdb-runtime">playing time - </span><span class="tmdb-genre"> genre1, genre2, genre3</span></p>
			</div>
			
			<div class="tmdb-plot">
				<p><!--img class="tmdb-image" src="http://image.tmdb.org/t/p/w154/5yO1zsFjwcchHaIIjhZ7UT3KQcj.jpg" alt="Redl ezredes"-->
					<img class="tmdb-poster" src="" alt="[-]"><span class="tmdb-plot-text">story overview</span></p>
			</div>
			
			<div class="tmdb-director">rendező</div>
			<div class="tmdb-stars">szereplők</div>

		</div>


	</div>
	<script src="/add.js"></script>
	<script src="/tmdb.js"></script>
</body>

</html>