<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    
    <div class="wrapper">
        <h1><%= greeting %></h1>
        <h4>Ooops, there was an error...</h4>
        <h2><%= error %></h2>
    </div>
</body>
</html>