<%- include('includes/head.ejs') %>
</head>

<body>
	<%- include('includes/navbar.ejs') %>

	<div class="wrapper">

		<div class="sorting">
			<p>rendezés:</p>
			<div class="sort-group">
				<a class="sort-button active" data-sort="title" href="#">cím</a>
				<a class="sort-button" data-sort="titleEng" href="#">eredeti cím</a>
				<a class="sort-button" data-sort="year" href="#">bemutatás éve</a>
				<!-- <a class="sort-button active" data-sort="none" href="#">nincs</a> -->
			</div>
		</div>

		<div class="filtering">
			<p>szűrés:</p>
			<div class="filter-group">
				<a class="filter-button" data-filter="wanted" href="#">kell</a>
				<a class="filter-button" data-filter="downloaded" href="#">letöltve</a>
				<a class="filter-button" data-filter="seen" href="#">megnézve</a>
				<a class="filter-button active" data-filter="all" href="#">mind</a>
			</div>
		</div>

		<div class="results">
			<p>találatok száma: <span class="nr-of-results"></span></p>
		</div>
		<% if (movies.length === 0) { %>
		<h2>Nincs ilyen film.</h2>
		<% } else { %>

		<ul class="list-movies">
		
		</ul>
		<% } %>
		
	</div>

	<div class="tmdb-wrapper">
		<div class="tmdb-spinner">
			<img src="spinner.gif" alt="spinner">
		</div>
		<div class="tmdb-popup">
			<div class="tmdb-first-row">
		<!-- 	<div class="tmdb-title">title</div>
				<div class="tmdb-year">(year)</div> -->

				<div class="tmdb-ty"><span class="tmdb-title">title</span><span class="tmdb-year">(year)</span></div>
				

				
				<div class="tmdb-close" onclick="closeTmdbPopup()">&times;</div>
			</div>
			
			<div class="tmdb-titleOrig">original title</div>
			<div class="tmdb-tg">
				<p><span class="tmdb-runtime">playing time - </span><span class="tmdb-genre"> genre1, genre2, genre3</span></p>
			</div>

			
			<div class="tmdb-plot">
				<p><!--img class="tmdb-image" src="http://image.tmdb.org/t/p/w154/5yO1zsFjwcchHaIIjhZ7UT3KQcj.jpg" alt="Redl ezredes"-->
					<img class="tmdb-poster" src="redl.jpg" alt="poster"><span class="tmdb-plot-text">story overview</span></p>
				
			</div>
			
			<div class="tmdb-director">rendező: N. N.</div>
			<div class="tmdb-stars">szereplők: XY, YZ, WZ</div>

		</div>
	</div>

	<script src="/browser.js"></script>
</body>

</html>