<%- include('includes/head.ejs') %>
</head>

<body>
	<%- include('includes/navbar.ejs') %>

	<div class="wrapper">

		<div class="sorting">
			<div class="sort-text"><span>rendezés:</span></div>
			<div class="sort-group">
				<a class="sort-button" data-sort="title" href="#">cím</a>
				<a class="sort-button" data-sort="titleEng" href="#">eredeti cím</a>
				<a class="sort-button" data-sort="year" href="#">bemutatás éve</a>
				<!-- <a class="sort-button active" data-sort="none" href="#">nincs</a> -->
			</div>
		</div>

		<div class="filtering">
			<div class="filter-text"><span>szűrés:</span></div>
			<div class="filter-group">
				<a class="filter-button" data-filter="wanted" href="#">kell</a>
				<a class="filter-button" data-filter="downloaded" href="#">letöltve</a>
				<a class="filter-button" data-filter="seen" href="#">megnézve</a>
				<a class="filter-button active" data-filter="all" href="#">mind</a>
			</div>
		</div>

	<!-- 	<div class="results">
			<p>találatok száma: <span class="nr-of-results"></span></p>
		</div> -->
		<% if (movies.length === 0) { %>
		<h2>Nincs ilyen film.</h2>
		<% } else { %>

		<ul class="list-movies">
		
		</ul>
		<% } %>
		
	</div>

	<div class="tmdb-wrapper">
		<div class="tmdb-spinner">
			<img src="spinner.gif" alt="spinner">
		</div>
		<div class="tmdb-popup">
			<div class="tmdb-first-row">

				<div class="tmdb-ty"><span class="tmdb-title">title</span><span class="tmdb-year">(year)</span></div>
				
				<!-- <div class="tmdb-close" onclick="closeTmdbPopup()">&times;</div> -->
			</div>
			
			<div class="tmdb-titleOrig">original title</div>
			<div class="tmdb-tg">
				<p><span class="tmdb-runtime">playing time - </span><span class="tmdb-genre"> genre1, genre2, genre3</span></p>
			</div>
			
			<div class="tmdb-plot">
				<p><!--img class="tmdb-image" src="http://image.tmdb.org/t/p/w154/5yO1zsFjwcchHaIIjhZ7UT3KQcj.jpg" alt="Redl ezredes"-->
					<img class="tmdb-poster" src="" alt="[-]"><span class="tmdb-plot-text">overview</span></p>
				
			</div>
			
			<div class="tmdb-director">rendező</div>
			<div class="tmdb-stars">szereplők</div>

		</div>
	</div>

	<div class="btn-prev"></div>
	<div class="btn-next"></div>
	<div class="list-tab">
		<div class="list-res-nr">találatok: 1-20 / 58</div>
		<div class="list-res-pages">oldal: 1 / 3</div>
	</div>

<!-- 	<div class="pages-wrapper">
		<div class="btns-prev-next">
			<div class="btn-prev"></div>
			<div class="btn-next"></div>
		</div>
	</div> -->

	<script src="/browser.js"></script>
	<script src="/tmdb.js"></script>
</body>

</html>