<%- include('includes/head.ejs') %>
</head>

<body>
	<%- include('includes/navbar.ejs') %>

	<div class="wrapper">

		<div class="sorting">
			<p>rendezés:</p>
			<div class="sort-group">
				<a class="sort-button active" data-sort="title" href="#">cím</a>
				<a class="sort-button" data-sort="titleEng" href="#">eredeti cím</a>
				<a class="sort-button" data-sort="year" href="#">bemutatás éve</a>
				<!-- <a class="sort-button active" data-sort="none" href="#">nincs</a> -->
			</div>
		</div>

		<div class="filtering">
			<p>szűrés:</p>
			<div class="filter-group">
				<a class="filter-button" data-filter="wanted" href="#">kell</a>
				<a class="filter-button" data-filter="downloaded" href="#">letöltve</a>
				<a class="filter-button" data-filter="seen" href="#">megnézve</a>
				<a class="filter-button active" data-filter="all" href="#">mind</a>
			</div>
		</div>

		<div class="results">
			<p>találatok száma: <span class="nr-of-results"></span></p>
		</div>
		<% if (movies.length === 0) { %>
		<h2>Nincs ilyen film.</h2>
		<% } else { %>

		<ul class="list-movies">
		
		</ul>
		<% } %>
	</div>
	<script src="/browser.js"></script>
</body>

</html>