
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    position: relative;
}
a { color: indigo; }
/********   NAVBAR   *********/
nav {
	background-color: rgb(235, 189, 75);  /*goldenrod;*/
	color: indigo;
}
.navbar {
	height: 4rem;
	max-width: 700px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.navbar li {
    /* margin-left: 2vw; */
    border: 0px solid red;
}
.navbar a {
    font-size: 150%;
    font-weight: 600;
    border: 0px solid blue;
}
.navbar a:hover,
.navbar a:active {
    color: ivory;
}
.active {
    color: ivory;
}
.navbar li input {
    font-size: 1.2rem;
    height: 2rem;
    padding-left: .5rem;
    border: 2px solid indigo;
    border-radius: 5px;
    width: 95%;
}

a.btn-reset-search {
    background-color: indigo;
    color: rgb(235, 189, 75);
    padding: .1rem .5rem .1rem .5rem;
    border: 2px solid indigo;
    border-radius: 2rem;
	cursor: pointer;
}
.tmdb-search-logo {
	background-image: url('tmdb-short2.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 15vw;
	min-width: 100px;
	height: 2rem;
	border: 0px solid magenta;
}
/*************************************/
h1 {
    color:indigo;
    font-size: 150%;
    font-weight: 600;
    margin-left: 5vw;
}

.wrapper {
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}
.wrapper ul {
    border: 2px solid indigo;
    border-radius: 1rem;
}
.wrapper ul li {
    border-bottom: 1px solid indigo;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 240);
}
.wrapper ul li:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.wrapper ul li:last-child {
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.wrapper ul li:nth-child(even) {
    background-color: rgb(235, 189, 75);
    background-color: rgb(255, 230, 130);
}
.wrapper ul li p {
    padding: .2rem .8rem .3rem .8rem;
    border: 0px solid lightgreen;
}
.wrapper ul li p:nth-child(1) {
/* .movie-title { */
    font-weight: 600;
    font-size: 120%;
    padding: .5rem .8rem 0rem .8rem;
}
.listitem-text {
    flex-grow: 1;
    border: 0px solid red;
}
.movie-status {
	font-size: 80%;
    font-weight: 800;
	background-color: rgb(235, 189, 75);
	/* background-color: rgb(66, 56, 153); */
	border-radius: 1rem;
	padding: .1rem .5rem;
	margin-left: 1rem;
	color: indigo;
	vertical-align: middle;
}
.listitem-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.edit-me, .delete-me {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .4rem .8rem .4rem .8rem;
    margin-right: .8rem;
    cursor: pointer;
    background-color: indigo;
    color: lightyellow;
    border-radius: .5rem;

}
.delete-me {
    background-color: mediumvioletred;
}
.btn-edit-me, .btn-delete-me {
    width: 30px;
}
/***********    SORTING and FILTERING    ***********/
.sorting, .filtering {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
		margin-bottom: 1rem;
}
.sort-text, .filter-text {
	font-size: 120%;
	border: 0px solid greenyellow;
}
.sort-group, .filter-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	margin-left: 1rem;
	border: 2px solid indigo;
	border-radius: .5rem;
	background-color: rgb(235, 189, 75);  /*goldenrod;*/
	color: indigo;
}
.sort-button, .filter-button {
	padding: .3rem .5rem;
	font-weight: 600;
	font-size: 120%;
	border-left: 2px solid indigo;
	height: 100%;
	align-self: stretch;
}
.sort-button:first-of-type, .filter-button:first-of-type {
	border-top-left-radius: .4rem;
	border-bottom-left-radius: .4rem;
	border-left: 0;
}
.sort-button:last-of-type, .filter-button:last-of-type {
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
	
}
.sort-group a:hover, .filter-group a:hover,
.sort-group a.active, .filter-group a.active {
	background-color: indigo;
	color: rgb(235, 189, 75);
}
.sorting a.active:hover, .filtering a.active:hover { cursor: default; }
/*************************     PAGINATION     *************************/
.pages-wrapper {
	/* display: none; */
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	border: 0px solid red;
}
.btns-prev-next {
	margin: 50vh auto auto auto;
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-prev, .btn-next {
	position: fixed;
	top: 50vh;
	width: 60px;
	height: 60px;
	background-size: contain;
	cursor: pointer;
	border: 0px solid magenta;
}
.btn-prev { left: -10px; background-image: url('prev-s.gif'); }
.btn-next { right: -10px; background-image: url('next-s.gif'); }

.list-tab {
	position: fixed;
	left: 0; right: 0;
	bottom: 0;
	height: 2rem;
	background-color: rgb(40, 40, 40);
	color: ivory;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.list-res-nr, .list-res-pages {
	font-size: 100%;
	font-weight: 600;
	padding: .5rem;
	border: 0px solid magenta;
}
/*********************    form input styles    **************************/
form {
	margin-top: 2rem;
}
label {
	display: block;
	font: 1.2rem 'Fira Sans', sans-serif;
	margin: 1rem 0 .5rem 0;
	/* padding-right: 10px; */
}
.input-add-title, .input-add-titleOrig, .input-add-year, .input-add-tmdbid {
	/* margin: .5rem 0 1.5rem 0; */
	font-size: 1.2rem;
	/* border-color:  indigo; */
}
.input-add-title, .input-add-titleOrig {
	width: 100%;
	max-width: 452px;
}

.input-add-yeartmdb {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	align-items: flex-end;
}
.input-add-yeartmdb div {
	padding-right: 2rem;
	border: 0px solid cyan;
}
.submit-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 468px;
	/* margin-top: .5rem; */
}
select {
	font-size: 120%;
	font-weight: 600;
	background-color: rgb(235, 189, 75);
	color: indigo;
	border-radius: .5rem;
	border: 0;
	padding: .2rem .5rem;
	min-width: 10rem;
	height: 2.5rem;
	margin-right: 3rem;
}
.add-edit-buttons {
	flex: 1 0 auto;
	display: flex;
	justify-content: space-between;
}
.btn-add-movie {
	/* margin-right: 2rem; */
	font-size: 1.2rem;
	height: 2.5rem;
	background-color: rgb(235, 189, 75);
	color: indigo;
	font-size: 120%;
	font-weight: 600;
	padding: .2rem .5rem;
	border-radius: .5rem;
	border-top: 2px solid rgb(255, 250, 180);
	border-left: 2px solid rgb(255, 250, 180);
	border-right: 1px solid rgb(180, 150, 80);
	border-bottom: 1px solid rgb(180, 150, 80);
}
.btn-add-movie:hover, button a:hover {
	color: ivory;
}

/********************************************/
/********     TMDB popup styles     *********/
.tmdb-wrapper {
	display: none;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: rgba(250, 250, 200, .7);
	border: 0px solid red;
}
.tmdb-spinner {
	width: 20vw; height: 20vw;
	margin-left: 40vw;
	margin-top: 40vh;
	border: 0px solid red;
	/* display: none; */
}
.tmdb-spinner img {
	width: 100%;
}
.tmdb-popup {
	display: none;
	position: relative;
	background-color: rgba(40, 40, 40, .9);
	color: ivory;
	
	max-width: 700px;
	top: 15vh;
	max-height: 80vh;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border-radius: 1rem;
	overflow-y: auto;
	border: 0px solid greenyellow;
}
.tmdb-popup {
	width: 90vw;
	padding: .2rem .2rem .2rem .2rem;
	padding: 0;
}
.tmdb-popup div, .search-popup div {
	border: 0px solid magenta;
}
.tmdb-title {
    font-size: 150%;
    font-weight: 600;
}
.tmdb-year, .tmdb-rating {
    font-size: 120%;
    font-weight: 400;
    padding-left: 1rem;
}
.tmdb-rating { font-weight: 600; }
/* .tmdb-ty { flex: 1 1 auto; } */
.tmdb-ty { padding: .2rem .2rem 0 1rem; }
.tmdb-titleOrig {
    font-size: 120%;
    padding: .2rem 1rem;
}
.tmdb-tg, .tmdb-director, .tmdb-stars {
    padding: .3rem 1rem .3rem 1rem;
}
.tmdb-tg { font-weight: 600; }
.tmdb-plot {
	text-align: justify;
	padding: .3rem .5rem;
	min-height: 229px;
}

.tmdb-poster {
    float: right;
    width: 154px;
    padding: 0 0 .5rem .5rem;
}
.tmdb-stars { padding-bottom: .5rem; }
.tmdb-tg, .tmdb-director { background-color: rgba(100, 100, 100, 0.8); }

/********************************************/
/********     TMDB search styles     *********/
.search-popup {
	display: none;
	position: relative;
	background-color: rgba(40, 40, 40, .9);
	color: ivory;
	margin: 0 auto;
	width: 70vw;
	max-width: 700px;
	top: 12vh;
	max-height: 80vh;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border-radius: 1rem;
	overflow-y: auto;
	border: 0px solid greenyellow;
}
.search-tab {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .3rem 0;
	font-size: 120%;
	font-weight: 600;
	position: fixed;
	background-color: rgb(40, 40, 40);
	border-top-left-radius: .8rem; border-top-right-radius: .8rem;
	width: 70vw;
	max-width: 700px;
}
.search-tab div { border: 0px solid yellow; }
.search-res-nr { margin-left: 1rem; }
.search-res-pages {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
.search-res-pageNr { margin: 0 2vw; padding-top: .2rem;}
.search-res-prev, .search-res-next, .search-res-close {
	color: rgb(235, 189, 75);
	background-color: rgb(100, 100, 100);
	border-radius: .3rem;
	font-weight: 800;
	font-size: 120%;
	padding: 0rem .4rem;
}
.search-res-prev:hover, .search-res-next:hover, .search-res-close:hover {
	color: rgb(255, 255, 240);
	cursor: pointer;
}
.search-res-prev.hide, .search-res-next.hide {
    color: rgb(40, 40, 40);
    cursor: default;
}
.search-res-close { margin-right: .5rem; }
/**************************************************************/
.search-li {display: flex;}
.search-li:nth-of-type(2) { margin-top: 38px; }

.search-li:nth-of-type(even) { background-color: rgb(100, 100, 100); }
.search-li:last-of-type { border-bottom-left-radius: .8rem; }
.search-li:first-of-type .search-image img { border-top-right-radius: .8rem; }
.search-li:last-of-type .search-image img { border-bottom-right-radius: .8rem; }

.search-text {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: .2rem .8rem .3rem .8rem;
}
.search-image {
	width: 92px;
	height: 137px;
	flex: 0 0 auto;
}
.search-image img { width: 97%; height: 97% ;}

.search-title {
	font-size: 130%;
	font-weight: 600;
	padding-right: 1rem;
}
.search-year { font-size: 120%; }
.search-titleOrig { font-size: 120%; }
.search-btns {
	display: flex;
	margin-top: .5rem;
}
.search-btn-info, .search-btn-add {
	color: rgb(235, 189, 75);
	background-color: rgb(100, 100, 100);
	font-size: 100%;
	font-weight: 600;
	padding: .3rem .5rem;
	border-radius: .3rem;
	margin-left: 1rem;
}
.search-li:nth-of-type(even) .search-btn-info,
.search-li:nth-of-type(even) .search-btn-add {
	background-color: rgb(60, 60, 60)
}
.search-btn-info:hover, .search-btn-add:hover { color: ivory; cursor: pointer;}

/**********     rules for tablets     *****************************************************/
@media only screen and (max-width: 700px) {

.wrapper {padding: .5rem 1rem;}
.navbar {height: 3rem;}
.navbar a {font-size: 120%;}
.li-input-search {width: 44vw;}
.input-search {width: 100%;}
.wrapper ul li p {padding: .4rem .8rem .1rem .8rem;}
.wrapper ul li p:nth-child(1) {padding: .2rem .8rem 0rem .8rem;}
.listitem-buttons { align-items: center; }
.edit-me, .delete-me {
    font-size: 1rem;
    padding: .3rem .4rem;
    margin: .2rem .3rem;
}
.btn-edit-me, .btn-delete-me {
    width: 22px;
    height: 22px;
}

/***********   TMDB popup   ************/
.tmdb-popup { top: 12vh; }
/***********   TMDB search popup   ************/
.search-popup {
	top: 9vh;
	max-height: 85vh;
	width: 80vw;
}
.search-tab {
	font-size: 100%;
	width: 80vw;
}
.search-li:nth-of-type(2) { margin-top: 33px; }

.search-title { font-size: 120%;}
.search-year { font-size: 110%;}
.search-titleOrig {
	font-size: 110%;
}
.search-btns { margin-top: .2rem;}
}
/****************************************************************************************/
/**********     rules for mobile phones     **********/
@media only screen and (max-width: 520px) {
.wrapper {
	padding: .5rem .5rem;
}
.sorting, .filtering {
	/* flex-direction: column; */
	/* align-items: flex-start; */
	margin: 0 0 .3rem 0;
	border: 0px solid red;
}
/* .sort-text, .filter-text { font-size: 100%; } */
.sort-text span, .filter-text span { display: none; }
.sort-text, .filter-text {
	background-image: url('sort-s.png');
	background-size: contain;
	width: 24px;
	height: 24px;
	margin-right: 2vw;
	min-width: 24px;
}
.filter-text {
	background-image: url('filter-s.png');
}
.sort-group, .filter-group { margin: .2rem 0 0 0;}
.sort-button, .filter-button {
	padding: .3rem .5rem;
	font-size: 90%;
}

.movie-status {
	font-size: 70%;
}
.listitem-buttons { flex-direction: column; }

.edit-me, .delete-me {
	padding: .3rem .3rem .1rem .3rem;
	margin: .2rem .3rem;
	border-radius: 5px;
}
.btn-edit-me, .btn-delete-me { width: 22px; }

.input-add-title, .input-add-titleOrig {
	width: 90%;
}
select { margin-right: 5vw; }

.add-edit-buttons {
	flex-direction: column;
	align-items: center;
}
.btn-add-movie {
	max-width: 10rem;
	margin-bottom: 2rem;
}
/*************    TMDB info popup    **************/
.tmdb-popup {
	top: 3vh;
	max-height: 85vh;
}
.tmdb-first-row { padding-top: .2rem;}
.tmdb-title { font-size: 120%; }
.tmdb-year { font-size: 100%; }
.tmdb-rating { font-size: 100%; }
.tmdb-titleOrig { font-size: 100%; }
.tmdb-tg { font-size: 90%; }
.tmdb-plot-text { font-size: 85%; }
.tmdb-poster { width: 30vw; }
/*   1.5 x .tmdb-poster width !!   */
.tmdb-plot { min-height: 45vw; }
.tmdb-director { font-size: 90%; }
.tmdb-stars { font-size: 80%; }
/**************      TMDB search popup     ***************/
.search-popup {
	top: 3vh;
	max-height: 85vh;
	width: 90vw;
}
.search-tab {
	font-size: 80%;
	width: 90vw;
}
.search-li:nth-of-type(2) { margin-top: 32px; }
.search-res-pageNr { margin: 0 1vw; }

.search-title { font-size: 90%; }
.search-year { font-size: 90%; }
.search-titleOrig { font-size: 90%;	}
.search-image {
	width: 69px;
	height: 103px;
}

}

